@charset "utf-8";
/* CSS Document */

h1{color: darkblue;
	text-align: center;
}
nav{
	display:block;
	text-align:center;
	text-decoration-color: limegreen;
	background: lightblue;
}
h2{color: darkblue;
}